# Node
node_modules/
.pnpm-store/
.next/
*.log

# Build artifacts
.dist/
dist/
coverage/

# Env files
*.env
.env
.env.local
.env.development*
.env.production*
.env.test*
.env.*
!*.env.example
!**/.env.example

# Editor
.vscode/
.idea/
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Others
*.sqlite3
.local/
logs/
DaisyUI_Upgrade_Plan.txt
Milestone2_V3_Plan.txt
System_Infra.md
System_Infra.mmd
RAG tuning cheatsheet.docx
RAG_Playground_Advanced-RAG.docx
~$G tuning cheatsheet.docx
~$G_Playground_Advanced-RAG.docx
tmp/
